<div class="container">
  <h4>マイページ</h4>
  <strong>登録情報</strong>
  <%= link_to "編集する", customer_edit_path, class: "btn btn-success" %>

  <table class="table">
    <tbody class="thead-light">
      <tr>
        <th scope="row">氏名</th>
        <td><%= current_customer.name %></td>
      </tr>
      <tr>
        <th scope="row">カナ</th>
        <td><%= current_customer.name_kana %></td>
      </tr>
      <tr>
        <th scope="row">郵便番号</th>
        <td><%= current_customer.post_code %></td>
      </tr>
      <tr>
        <th scope="row">住所</th>
        <td><%= current_customer.address %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td><%= current_customer.telephone_number %></td>
      </tr>
      <tr>
        <th scope="row">メールアドレス</th>
        <td><%= current_customer.email %></td>
      </tr>
    </tbody>
  </table>

  <div>
    <strong>配送先</strong>
    <%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %>
  </div>

  <div>
    <strong>注文履歴</strong>
    <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
  </div>
</div>