<div class="container">
  <div class="row">
    <div class="col-9 offset-2">
      <div class="customer-login-form">
        <div class="my-2">
          <h4>商品編集</h4>
        </div>
        <div class="col-8 offset-2">
          <%= form_with model: @item, url: admin_item_path(@item.id) do |f| %>
            <div>
              <%= f.label :image, "商品画像" %>
              <%= f.file_field :image, accept: "image/*", class: "col login-form-style mb-3 pt-2" %>
            </div>

            <div>
              <%= f.label :name, "商品名" %>
              <%= f.text_field :name, class: "col login-form-style mb-3" %>
            </div>

            <div>
              <%= f.label :introduction, "商品説明" %>
              <%= f.text_area :introduction , class: "col login-form-style mb-3"%>
            </div>

            <div>
              <%= f.label :genre, "ジャンル" %><br/>
              <%= f.collection_select :genre_id, @genres, :id, :name, class: "col login-form-style " %>
            </div>

            <div>
              <%= f.label :price, "税抜価格" , class: "mt-3" %>
              <%= f.text_field :price, class: "col-11 login-form-style mb-3" %>円
            </div>

            <div>
              <span>販売ステータス</span>
              <%= f.radio_button :status, true %>
              <%= f.label :status_true, "販売中" %>
              <%= f.radio_button :status, false %>
              <%= f.label :status_false, "販売停止中" %>
            </div>
            <div class="d-flex flex-row-reverse">
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
