<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'genre', genres: @genres %>
    </div>
    <div class="col-lg-10">
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
      <h3><strong>新着商品</strong></h3>
      <% @items.each do |item| %>
        <div>
          <%= image_tag item.get_image(100,100) %>
          <%= item.name %>
          ￥<%= item.price %>
        </div>
      <% end %>
      <%= link_to "すべての商品を見る>", items_path %>
    </div>
  </div>
</div>