<div class="container admin-customer">
  <div class= "row">
    <h4 class="my-4"><%= @customer.name %>さんの会員詳細</h4>
    <table class="table">
      <tbody>
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td><%= @customer.name %></td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td><%= @customer.name_kana %></td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_active  %>
              <div class="text-success">有効</div>
            <% else %>
              <div class="text-muted">退会</div>
            <% end %>
          </td>
        </tr>
        <td><%= link_to "編集する",edit_admin_customer_path(@customer.id),class: "btn btn-success my-3" %></td>
        <td><%= link_to "注文履歴一覧を見る", admin_orders_path,class: "btn btn-primary my-3" %></td>

      </tbody>
    </table>
  </div>
</div>
