<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/homes/genre', genres: @genres %>
    </div>
    <div class="col-lg-10">
      <%= image_tag @item.get_image(100,100) %>
      <%= @item.name %>
      <%= @item.introduction %>
      ￥<%= @item.tax_price.to_s(:delimited) %>(税込)

      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :quantity, *[1..10],include_blank: '個数選択' %>
        <%= f.submit "カートに入れる",class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>